.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='text'] {
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 0.5rem;
  width: 20rem;
  height: 2rem;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0.5rem;
  width: 6rem;
  height: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
